@font-face {
    font-family: pokemon;
    src: url(pokemon.ttf);
    }
    
    body {
    background-image: url('./img/fondo-slowbro.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: pokemon;
    letter-spacing: 0.1em;
    gap: 1em;
    max-width: 800px;
    margin: 0 auto;
    }
    
    header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }
    
    h1 {
    font-size: 3em;
    text-transform: uppercase;
    }
    
    #game {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(4, 20vw);
    grid-gap: 1em;
    }
    
    .card {
    box-shadow: 0 0.5em 1em rgba(0,0,0, 0.5);
    border-radius: 1em;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    }
    
    .card > .front, .card > .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
    }
    
    .back > h2 {
    margin: 0;
    font-size: 1em;
    }
    
    .rotated {
    transform: rotateY(180deg);
    }
    
    .front {
    background-image: url("./img/pokeball.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    }
    
    button {
    font-size: 1em;
    background-color: #c62828;
    color: white;
    border-radius: 0.5em;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
    position: center;
    text-align:center;
    }